@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f7;
  font-family: "Roboto Mono", monospace;
  font-size: small;
}

header {
  padding: 15px;
  background-color: #ffffff;
}

header img {
  height: 60px;
}

img {
  max-width: 100%;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.text-container p {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

.container {
  max-width: 1024px;
}

footer {
  background-color: #14181d;
  color: #ffffff;
  padding: 6px;
  text-align: center;
}

@media (max-width: 1024px) {
  .images-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .images-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .images-container {
    grid-template-columns: 1fr;
  }
}
